# Detectable (for stat.)
collections/**/input/*.puml linguist-detectable

# Generated Code
gallery/themed-input/*.puml linguist-generated

# Language Highlight
_layouts/*.html linguist-language=liquid
