---
layout: default
---
<h2>{{ page.display_name }}</h2>

{% include secondaryNavigation.liquid %}

{{ content }}

<h3>{{ layout.display_name }} Code</h3>

{% if page.variants %}
These diagram variants were created from the following PlantUML code:
{% else %}
This diagram was created from the following PlantUML code:
{% endif %}

<details>
    <summary>Show code of Main {{ page.display_name }}<br>
        or go directly to <a href="{{ site.github.repository_url }}/blob/main/collections/_{{ page.kind }}/input/{{ page.name }}.puml" target="_blank">{{ page.name }}.puml on GitHub</a></summary>

{% capture my_code %}{% include_relative input/{{ page.name }}.puml %}{% endcapture %}
{% highlight plantuml %}
{{ my_code | strip }}
{% endhighlight %}
</details>

{% for variant in page.variants %}
<details>
    <summary>Show code of {{ variant.display_name }}<br>
        or go directly to <a href="{{ site.github.repository_url }}/blob/main/collections/_{{ page.kind }}/input/{{ variant.name }}.puml" target="_blank">{{ variant.name }}.puml on GitHub</a></summary>

{% capture my_code %}{% include_relative input/{{ variant.name }}.puml %}{% endcapture %}
{% highlight plantuml %}
{{ my_code | strip }}
{% endhighlight %}
</details>
{% endfor %}

<h3>Available Themes</h3>

{% for theme in site.themes %}
<h4 id="{{ theme.name }}">{{ page.display_name }} shown in {{ theme.display_name }}</h4>

{% capture url %}{{ theme.url }}#{{ page.name }}{% endcapture %}
{% capture main_caption %}Main {{ page.display_name }}{% endcapture %}
{% include figure.liquid theme=theme diagram=page url=url caption=main_caption %}

{% for example in page.examples %}
{% include figure.liquid theme=theme diagram=example url=url caption=example.display_name %}
{% endfor %}
{% endfor %}

<h3>Available Skins</h3>

{% for skin in site.skins %}
<h4 id="{{ skin.name }}">{{ page.display_name }} shown in {{ skin.display_name }}</h4>

{% capture url %}{{ skin.url }}#{{ page.name }}{% endcapture %}
{% capture main_caption %}Main {{ page.display_name }}{% endcapture %}
{% include figure.liquid theme=skin diagram=page url=url caption=main_caption %}

{% for example in page.examples %}
{% include figure.liquid theme=skin diagram=example url=url caption=example.display_name %}
{% endfor %}
{% endfor %}
