---
layout: default
---
<h2>{{ page.display_name }}</h2>

{% include secondaryNavigation.html %}

{{ content }}

<h3>Theme Code</h3>

<p>
    See <a href="https://github.com/plantuml/plantuml/tree/master/themes/puml-theme-{{ page.name }}.puml">PlantUML themes {{
    page.display_name }}</a> for the theme's implementation details.
</p>

<h3>Available Diagrams</h3>

{% for diagram in site.diagrams %}

<h4 id="{{ diagram.name }}">{{ diagram.display_name }} shown in {{ page.display_name }}</h4>

{% capture url %}{{ diagram.url }}#{{ page.name }}{% endcapture %}
{% capture file %}{{ diagram.name }}-{{ page.name }}.svg{% endcapture %}
{% capture alt %}{{ diagram.display_name }} in {{ page.display_name }}{% endcapture %}

{% include figure.html url=url file=file alt=alt %}

{% endfor %}
